html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Segoe UI", "Helvetica", Garuda, Arial, sans-serif;
}

#canvas {
    position: absolute;

}

div.groupContainer {
    position: absolute;
    left: 710px;
    overflow: auto;
    height: 700px;
    min-width: 300px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

#tableContainer {
    overflow: auto;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    margin: 5px;
}

#expressionContainer {
    overflow: auto;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

table.TruthTable {
    box-shadow: 0 0 5px;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 20px auto;
}

table.TruthTable thead {
    display: table-header-group;
    vertical-align: middle;
}

table.TruthTable th {
    height: 20px;
    text-align: center;
    background-color: #507E40;
    color: white;
    padding: 0 4px 2px 4px;
}

table.TruthTable th.Out {
    cursor: pointer;
}

table.TruthTable th.In {
    background-color: #8EBD60;
    cursor: default;
}

table.TruthTable td {
    height: 16px;
    text-align: center;
    padding: 1px 5px;
    cursor: pointer;
}

table.TruthTable td.In + td.Out, table.TruthTable th.In + th.Out {
    border-left: 1px solid #000;
}

table.TruthTable tr.Alt {
    color: #000000;
    background-color: #DBF2B4;
}

table.TruthTable tr:hover, table.TruthTable tr.Alt:hover {
    background-color: rgb(169, 221, 134) !important;
}

ul.Expression {
    list-style-type: none;
    margin: 10px 0 0 20px;
    padding: 1px;
    font-size: 0.8em;
}

ul.Expression li {
    text-align: left;
    padding: 0;
}

